/** index首页独立 **/
@charset "UTF-8";
/*.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after {
  background-color: #01AAED !important;
}
.layui-form-select dl dd.layui-this {
  background-color: #01AAED !important;
}
.layui-elem-quote, .site-tree .layui-tree li h2 {
  border-left: 3px solid #1E9FFF !important;
}
.layui-elem-quote a:hover {
  color: #00a4ff !important;
}*/
.header {
  background: linear-gradient(90deg, #1D1E23, #3F4045) !important;
  /*border-bottom: 1px solid #101117 !important;*/
  border: none !important;
}
.layui-nav .layui-this:after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed:after {
  background-color: #F6CA9D !important;
}
.layui-nav .layui-nav-item a {
  color: rgba(246,202,157,.7) !important;
}
.layui-nav .layui-nav-item a:hover {
  color: #F6CA9D !important;
}
.layui-form-select dl dd.layui-this {
  background-color: #FF7003 !important;
}
.layui-elem-quote, .site-tree .layui-tree li h2 {
  border-left: 3px solid #1E9FFF !important;
}
.layui-elem-quote a {
  font-weight: bold !important;
}
.layui-elem-quote a:hover {
  color: #00a4ff !important;
}
/*.layui-table thead tr {
  text-align: center !important;
  color: #FFFFFF !important;
  background-color: #292a2b !important;
}*/
.layui-table thead tr th, .layui-table[lay-skin=line] td, .layui-table[lay-skin=line] th {
  text-align: center !important;
}
.border-table-tr:hover {
  border: 2px solid #1E9FFF !important;
  background-color: #FFFFFF !important;
}
.alone-version-desc {
  width: 70% !important;
  margin-left: 10% !important;
}
.check {
  padding: 0 10px !important;
  font-size: 12px !important;
  height: 23px !important;
  line-height: 23px !important;
  margin-left: 5px !important;
}
.check:hover {
  border-color: #00a4ff !important;
}
.ttips {
  height: 40px !important;
  line-height: 40px !important;
}
.ctips {
  color: #FF0000;
  font-size: 14px;
  font-weight: bold;
}
.layui-textarea {
  background-color: #13151A !important;
  color: #C2BE9E !important;
  /* min-height: 555px !important; */
  resize: none !important;
  overflow: hidden !important;
}
.layui-input-inline {
  width: 500px !important;
}
/*.layui-form-label {
  width: 120px !important;
}*/
.layui-form-mid {
  padding: 5px 0 !important;
}
.layui-table tbody tr:hover, .layui-table thead tr, .layui-table-click, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool, .layui-table[lay-even] tr:nth-child(even) {
  background-color: #fff;
}
.layui-table-view .layui-table[lay-size=sm] .layui-table-cell {
  height: 25px;
  line-height: 24px;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em {
  background-color: #006eff !important;
}
.layui-laypage input:focus, .layui-laypage select:focus {
  border-color: #006eff !important;
}
.layui-laypage-prev:hover, .layui-laypage a:hover {
  color: #01AAED;
}
.layui-laypage-btn:hover {
  border-color: #006eff !important;
}
.ys-red {
  color: #FF5722;
}
.ys-orange {
  color: #FFB800;
}
.ys-green {
  color: #0abf5b;
}
.ys-gray {
  color: #c3c3c3;
}
#SponsorView a * {
  font-size: 12px;
}
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@font-face {
  font-family: "layuicdn";
  src: url("../font/layuicdn.woff2") format("woff2"),
       url("../font/layuicdn.woff") format("woff"),
       url("../font/layuicdn.ttf") format("truetype"),
       url("../font/layuicdn.eot") format("embedded-opentype"),
       url("../font/layuicdn.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
.layuicdn-notice {
  color: #FF5722;
  /*font-weight: bold;*/
  margin-left: 20px;
  font-family: "layuicdn";
}
.layuicdnbanner {
  width: 100%;
  text-align: center;
}
.layuicdnbanner-img {
  width: 100%;
  height: 100px;
}
.layuicdnbanner-text {
  position: absolute;
  /*top: 100px;
  left: 266px;*/
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  line-height: 225px;
  color: #ffe98f;
  font-size: 20px;
  letter-spacing: 20px;
  font-weight: 900;
  font-family: "layuicdn";
  text-shadow:5px 2px 6px #000;
}