@charset "utf-8";
html, body {
  min-width: 1395px;
  background-color: #f7f8fa;
}
.layui-main {
  width: 1395px;
}
.header {
  background-color: #16171A;
  border-bottom-color: #16171A;
}
.alone-banner {
  height: auto;
  padding: 0 15px;
  background-color: #16171A;
}
.alone-preview {
  padding: 50px 0 20px;
  text-align: center;
  background-color: #16171A;
}
.alone-download-btn {
  margin: 0 0 50px;
}
.alone-preview .layui-carousel {
  display: inline-block;
}
.alone-preview .layui-carousel, .alone-preview .layui-carousel>[carousel-item]>* {
  background: none;
}
.alone-preview .layui-carousel[lay-indicator=outside] .layui-carousel-ind {
  top: 15px;
}
.alone-items {
  /*width: 700px;*/
  margin-top: 50px;
}
.alone-items .layui-elem-field {
  width: 300px;
  margin: 0 auto 50px;
  text-align: center;
}
.alone-items .layui-elem-field legend {
  padding: 0 15px;
}
.product {
  margin: 0 10px;
  margin-bottom: 60px;
}
.product:hover {
  border-radius: 10px;
  border: 1px solid #cdcdcd;
  -webkit-box-shadow: 0 8px 10px #cdcdcd;
  -moz-box-shadow: 0 8px 10px #cdcdcd;
  box-shadow: 0 8px 10px #cdcdcd;
}
.btn-zx:hover {
  border: 1px solid #00a4ff;
}
.chc-footer-hr {
  margin: 0 auto;
  width: 1100px;
  height: 1px;
  border: none;
  background-color: #ddd;
}
.chc-friendship {
  /*padding: 10px 0;*/
  line-height: 30px;
  text-align: center;
  color: #333;
  font-size: 12px;
}
.chc-friendship a:hover {
  color: #00a4ff;
}
.alone-version-desc {
  position: relative;
  padding: 30px 50px 50px;
  border-radius: 10px;
  /*border-radius: 0;*/
  /*border-top: 5px solid #ddd;*/
  background-color: #fff;
  text-align: center;
}
.alone-version-desc h2 {
  padding-bottom: 15px;
  font-size: 18px;
}
.alone-badge {
  position: relative;
  display: inline-block;
  border: 1px solid #e6e6e6;
  line-height: 28px;
  padding: 0 15px;
  border-radius: 2px;
}
.alone-tips {
  position: absolute;
  right: -35px;
  top: 1px;
  color: #999;
  font-size: 20px;
  cursor: pointer;
}
.alone-version-desc ul {
  height: 330px;
  margin-top: 15px;
  text-align: left;
}
.alone-buy {
  text-align: center;
}
.alone-buy .layui-btn {
  width: 100%;
}
#redhot {
  display: inline-block;
  padding: 0 10px;
  line-height: 30px;
  border-radius: 2px;
  background-color: #c00;
}
/*@media screen and(min-width: 1395px) {
  body .layui-carousel {
  height: 737px;
};
}@media screen and(max-width: 1395px) {
  img {
  max-width: 100%;
}
.logo, .header-demo .logo {
  left: 15px;
}
.layui-main {
  width: 100%;
  margin: 0;
}
.alone-banner {
  height: auto;
}
.alone-banner h1 {
  padding-top: 30px;
  font-size: 26px;
}
.alone-items {
  width: 700px;
  margin: 50px auto;
};
}
@media screen and(max-width: 768px) {
  .alone-download-btn .layui-btn {
  width: 140px;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
}
.alone-download-btn .layui-btn {
  margin: 0 8px !important;
}
.alone-preview {
  padding: 30px 15px 20px;
}
.alone-items {
  width: auto;
  margin: 20px 15px;
}
.alone-items .layui-elem-field {
  margin-bottom: 20px;
}
.alone-version-desc {
  padding: 30px;
};
}*/
